{% extends '_base.html' %}
{% block page_title %} Home Page {% endblock page_title %}

{% block content %}
{% if user.is_authenticated %}
     <br><br> <br>
    <div class="d-flex justify-content-center align-items-center">
    Welcome {{ user.username }} | <a href="{% url 'book_list' %} " class="btn btn-sm btn-info">لیست کتاب ها</a><br>
   </div>
    <br> <br>

{% else %}
    <br><br><br><br>
    <div class="d-flex justify-content-center align-items-center">
    <a href="{% url 'login' %} " class="btn btn-sm btn-success">ورود</a> |  <a href="{% url 'signup' %} " class="btn btn-sm btn-success">ثبت نام</a>
    </div>
{% endif %}

{% endblock content %}